<div class="about-us-container" >
  <h1>About Us</h1>
 <div class="TEAM">
    <div class="team-member">

      <i class="bi bi-person-circle"></i>
      <h2>Gurami Gorgadze <span class="small">(Main Programmer, Team Leader)</span></h2>
      <p>
        Gurami is the driving force behind our project. With a strong background
        in programming and a deep passion for web development, Gurami has led the
        way in creating our website from the ground up. His expertise and
        dedication have been instrumental in shaping our project's vision and
        bringing it to life.
      </p>
    </div>
    <div class="team-member">

      <i class="bi bi-person-circle"></i>
      <h2>Gio Svanadze <span class="small">(Coder)</span></h2>
      <p> 
        Gio has coding skills, but he unfortunately couldn't contribute much to
        the project due to other commitments. However, his support and insights
        have been invaluable in guiding our development process.
      </p>
    </div>
    <div class="team-member">

      <i class="bi bi-person-circle"></i>
      <h2>Damiene Gabunia <span class="small">(Team Member)</span></h2>
      <p>
        Damiane, although not well-versed in coding, has been part of our team.
        While she hasn't been able to contribute directly to the technical aspects
        of the project, her support and enthusiasm have been greatly appreciated
      </p>
    </div>
  
    <div class="team-member">

      <i class="bi bi-person-circle"></i>
      <h2>Miqo Shanshiashvili <span class="small">(Team Member)</span></h2>
      <p>
        Miqo, like Damiane, is not well-versed in coding but has been part of our
        team. While he hasn't been able to contribute directly to the technical
        aspects of the project, his support and enthusiasm have been greatly
        appreciated."
      </p>
    </div>
 </div>
  <div class="project">
    <h2>Our Project</h2>
    <p>
      Our website aims to provide comprehensive and insightful information about
      various aspects of Asian culture, history, and geography. Through our
      project, we hope to inspire curiosity and appreciation for the rich
      diversity of Asia
    </p>
  </div>
  <div class="contributions">
    <h2>Our Contributions</h2>
    <p>
      As the main programmer, Gurami has been responsible for the technical
      development of our website. His skills in programming languages such as
      JavaScript, Angular, and SCSS have been crucial in creating a visually
      appealing and user-friendly interface.
    </p>
  </div>
  <div class="join-us">
    <h2>Join Us</h2>
    <p>
      We invite you to join us on our journey as we explore the wonders of Asia
      through our website. Whether you're interested in programming, Asian
      culture, or simply curious to learn more, there's a place for you in our
      community. Thank you for visiting our website and being a part of our
      story!
    </p>
  </div>
</div>
