<nav>
  <a routerLink="/">
    <div class="upper">
      <img src="../../assets/Images/Logo.png" alt="Asia Image" />

      <div class="title">
        <h6>More About</h6>
        <h1>ASIA</h1>
      </div>
    </div>
  </a>

  <div class="middle">
    <p>━━━━━━━━━━━━━━━━━━━━━ Learn More ━━━━━━━━━━━━━━━━━━━━━</p>
  </div>

  <div class="under">
    <a routerLink=""><i class="bi bi-house-fill"></i></a>

    <ul>
      <li><a routerLink="/map">Map</a></li>

      <li><a routerLink="/countries">Countries & Regions</a></li>

      <li><a routerLink="/war">War Histories</a></li>

      <li><a routerLink="/about">About Us</a></li>
    </ul>
  </div>
</nav>
