<div class="wars-container">
  <div class="card">
    <div class="row">
      <div class="col-6">
        <img class="image1" src="../../assets/Images/War1.png" alt="" />
      </div>

      <div class="col">
        <h1>ვიეტნამის ომი</h1>

        <p>
          ვიეტნამის ომი, რომელიც გაგრძელდა 1955 წლიდან 1975 წლამდე, იყო
          კონფლიქტი ჩრდილოეთ ვიეტნამის კომუნისტური ძალები და სამხრეთ ვიეტნამის
          მთავრობა, მხარს უჭერენ შეერთებული შტატები და სხვა ანტიკომუნისტური
          მოკავშირეები. Ის იყო ცივი ომის დაპირისპირების შედეგი და ჩრდილოეთ
          ვიეტნამის სურვილი კომუნისტური მმართველობის პირობებში ქვეყნის
          გაერთიანება. ომი აღინიშნა პარტიზანული ომი, მძიმე მსხვერპლი და
          მნიშვნელოვანი პოლიტიკური არეულობა. იგი დასრულდა საიგონის დაცემით 1975
          წელს და ვიეტნამის გაერთიანება კომუნისტების კონტროლის ქვეშ. ომს ჰქონდა
          ა ღრმა გავლენა ვიეტნამზე და მსოფლიოში, გეოპოლიტიკის ფორმირებაზე და
          გავლენას მოახდენს სამხედრო სტრატეგიებზე მომავალი წლების განმავლობაში.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col">
        <h1>კორეის ომი</h1>

        <p>
          კორეის ომი, 1950 წლიდან 1953 წლამდე, იყო კონფლიქტი ჩრდილოეთ კორეას
          შორის. მხარს უჭერს ჩინეთი და საბჭოთა კავშირი და სამხრეთ კორეა,
          რომელსაც მხარს უჭერს გაერო, განსაკუთრებით შეერთებული შტატები. დაიწყო
          იმით ჩრდილოეთ კორეის შეჭრა სამხრეთ კორეაში ქვეყნის გაერთიანების მიზნით
          კომუნიზმი. გაერო, აშშ-ს ხელმძღვანელობით, ჩაერია სამხრეთ კორეის
          მხარდასაჭერად, გამოიწვია ინტენსიური ბრძოლა და მრავალი მსხვერპლი. ომი
          დასრულდა ა ჩიხში, კორეის ნახევარკუნძული დაყოფილია 38-ე პარალელის
          გასწვრივ, ისევე როგორც ომამდე. მას ჰქონდა ხანგრძლივი ეფექტი, ამაგრებდა
          დაყოფა ჩრდილოეთ და სამხრეთ კორეას შორის, რომელიც აყალიბებს აშშ-ს
          საგარეო პოლიტიკას აზია და ცივი ომის დინამიკაზე გავლენა.
        </p>
      </div>

      <div class="col-7">
        <img class="image2" src="../../assets/Images/War2.png" alt="" />
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-6">
        <img class="image1" src="../../assets/Images/War3.png" alt="" />
      </div>

      <div class="col">
        <h1>უკრაინა-რუსეთის ომი</h1>

        <p>
          უკრაინა-რუსეთის ომი 2014 წელს დაიწყო მას შემდეგ, რაც რუსეთმა მოახდინა
          ყირიმის ანექსია და მხარს უჭერდა სეპარატისტებს აღმოსავლეთ უკრაინაში.
          კონფლიქტმა გამოიწვია ათასობით დაიღუპა და ბევრი დევნილი. მცდელობები მის
          გადასაჭრელად ცეცხლის შეწყვეტის შეთანხმებები და სამშვიდობო
          მოლაპარაკებები გრძელდება, მაგრამ სიტუაცია რჩება არასტაბილური. ომმა
          დაძაბა ურთიერთობები რუსეთსა და დასავლეთს და დასვა კითხვები
          სუვერენიტეტისა და ტერიტორიის შესახებ მთლიანობას.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col">
        <h1>ინდო-პაკისტანის ომი</h1>

        <p>
          ინდოეთ-პაკისტანის ომები ეხება კონფლიქტებს ქაშმირის რეგიონში 1947
          წლიდან. მათ შორისაა 1947-48, 1965, 1971 და 1999 წლის კარგილის ომი. ამ
          ომებმა მნიშვნელოვანი დანაკარგი გამოიწვია ცხოვრებას და ჰქონდა
          ხანგრძლივი პოლიტიკური და სოციალური გავლენა. ქაშმირი საკითხი გადაუჭრელი
          რჩება, რაც იწვევს ამ ორს შორის მიმდინარე დაძაბულობას ქვეყნები.
        </p>
      </div>

      <div class="col-7">
        <img class="image2" src="../../assets/Images/War4.png" alt="" />
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-6">
        <img class="image1" src="../../assets/Images/ISRAEL.jpg" alt="" />
      </div>

      <div class="col">
        <h1>ისრაელ-ღაზას ომი</h1>

        <p>
          ისრაელ-ღაზას კონფლიქტი არის გაჭიანურებული დავა მიწაზე, რესურსებზე და
          პოლიტიკურ კონტროლზე, რომლის ფესვები მე-19 საუკუნის ბოლოს და მე-20
          საუკუნის დასაწყისიდან იწყება. ის ტრიალებს ისრაელებისა და
          პალესტინელების კონკურენტ ეროვნულ მისწრაფებებს. კონფლიქტს უამრავი
          მსხვერპლი და ფართო ნგრევა მოჰყვა, დიპლომატიური გზით მოგვარების
          მცდელობები დიდწილად წარუმატებელი აღმოჩნდა. ძირითადი საკითხები მოიცავს
          იერუსალიმის სტატუსს, რომელსაც ორივე მხარე აცხადებს, როგორც მათ
          დედაქალაქს, და ისრაელის მიერ პალესტინის ტერიტორიების ოკუპაციას, რასაც
          პალესტინელები მათი უფლებების დარღვევად თვლიან. მშვიდობისკენ
          საერთაშორისო მოწოდების მიუხედავად, გრძელვადიანი რეზოლუციის მიღწევა
          კვლავ გამოწვევად რჩება ღრმა უნდობლობისა და რთული გეოპოლიტიკური
          ფაქტორების გამო.
        </p>
      </div>
    </div>
  </div>
</div>

<a routerLink="/war" class="stt">Eng</a>
