<div class="wars-container">
  <div class="card">
    <div class="row">
      <div class="col-6">
        <img class="image1" src="../../assets/Images/War1.png" alt="" />
      </div>

      <div class="col">
        <h1>Vietnam War</h1>

        <p>
          The Vietnam War, lasting from 1955 to 1975, was a conflict between the
          communist forces of North Vietnam and the government of South Vietnam,
          supported by the United States and other anti-communist allies. It was
          a result of the Cold War rivalry and the desire of North Vietnam to
          unify the country under communist rule. The war was marked by
          guerrilla warfare, heavy casualties, and significant political
          turmoil. It ended with the fall of Saigon in 1975 and the
          reunification of Vietnam under communist control. The war had a
          profound impact on Vietnam and the world, shaping geopolitics and
          influencing military strategies for years to come.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col">
        <h1>Korean War</h1>

        <p>
          The Korean War, from 1950 to 1953, was a conflict between North Korea,
          supported by China and the Soviet Union, and South Korea, backed by
          the United Nations, particularly the United States. It began with
          North Korea's invasion of South Korea to unify the country under
          communism. The UN, led by the U.S., intervened to support South Korea,
          leading to intense fighting and many casualties. The war ended in a
          stalemate, with the Korean Peninsula divided along the 38th parallel,
          similar to before the war. It had lasting effects, solidifying the
          division between North and South Korea, shaping U.S. foreign policy in
          Asia, and impacting Cold War dynamics.
        </p>
      </div>

      <div class="col-7">
        <img class="image2" src="../../assets/Images/War2.png" alt="" />
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-6">
        <img class="image1" src="../../assets/Images/War3.png" alt="" />
      </div>

      <div class="col">
        <h1>Russia-Ukraine War</h1>

        <p>
          The Ukraine-Russia war began in 2014 after Russia annexed Crimea and
          supported separatists in eastern Ukraine. The conflict has led to
          thousands of deaths and displaced many. Efforts to resolve it through
          ceasefire agreements and peace talks continue, but the situation
          remains volatile. The war has strained relations between Russia and
          the West and raised questions about sovereignty and territorial
          integrity.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col">
        <h1>Indo-Pakistani War</h1>

        <p>
          The India-Pakistan wars refer to conflicts over the Kashmir region
          since 1947. They include the wars of 1947-48, 1965, 1971, and the
          Kargil War of 1999. These wars have resulted in significant loss of
          life and have had lasting political and social impacts. The Kashmir
          issue remains unresolved, leading to ongoing tensions between the two
          countries.
        </p>
      </div>

      <div class="col-7">
        <img class="image2" src="../../assets/Images/War4.png" alt="" />
      </div>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col-6">
        <img class="image1" src="../../assets/Images/ISRAEL.jpg" alt="" style="width: 550px"/>
      </div>

      <div class="col">
        <h1>Israel Gaza War</h1>

        <p>
          The Israel-Gaza conflict is a protracted dispute over land, resources,
          and political control, with roots dating back to the late 19th and
          early 20th centuries. It revolves around the competing national
          aspirations of Israelis and Palestinians. The conflict has resulted in
          numerous casualties and widespread destruction, with efforts to
          resolve it diplomatically largely unsuccessful. Key issues include the
          status of Jerusalem, claimed by both sides as their capital, and the
          Israeli occupation of Palestinian territories, which Palestinians view
          as a violation of their rights. Despite international calls for peace,
          achieving a lasting resolution remains challenging due to deep-seated
          mistrust and complex geopolitical factors.
        </p>
      </div>
    </div>
  </div>
</div>

<a routerLink="/wargeo" class="stt">Geo</a>
